<p>registrationcomp works!</p>

<h2>Ex4</h2>

<h2>Registration Form</h2>

<form [formGroup]="fg" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your name</mat-label>
      <input
        matInput
        placeholder="name"
        formControlName="name"
        required
      />
      @if ((fg.controls['name'].errors?.['required'] && fg.controls['name'].touched && fg.controls['name'].dirty)) {
        <span>
            Name must be filled
        </span>
      }
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        required
      />

      @if ((fg.controls['email'].dirty || fg.controls['email'].touched)) {
        @if ((fg.controls['email'].errors?.['email'] && fg.controls['email'].errors?.['required'])) {
            <span>
                Enter a valid email address
            </span>
        }
       
      }
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="doB">
      @if ((fg.controls['doB'].dirty && fg.controls['doB'].touched)) {
        @if (fg.controls['doB'].errors?.['requred']) {
            <span>
                Please select a date
            </span>
        }
       
      }
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button type="button" mat-button (click)="picker.open()">Open</button>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select formControlName="subject">
        @if ((fg.controls['subject'].dirty && fg.controls['subject'].touched)&& !fg.controls['subject'].valid) {
            <span>
                Please choose an option
            </span>
        }
        @for (subject of subjects; track $index) {
        <mat-option [value]="subject">{{subject}}</mat-option>
        }
        
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="example-button-row">
    <button type="submit" mat-raised-button color="primary" [disabled]="!fg.valid">Submit</button>
  </div>
</form>